# Auto detect text files and perform LF normalization
* text=auto

useful_code export-ignore
res/temp export-ignore
data/* export-ignore
output.tsv export-ignore
.gitattributes export-ignore
.gitignore export-ignore
